@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
    --primary: #4B0608;
    --secondary: #D2462A;
}

html,
body {
    font-family: 'Playfair Display', serif;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.logo {
    width: 150px;
}

header {
    background: linear-gradient(to right, #D9D9D9, transparent);
}

nav{
    position: initial;
}

nav ul li {
    position: relative;
    opacity: 1;
}

nav ul li:active {
    scale: 0.5;
}

nav ul li a {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

nav ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: var(--secondary);
    border-radius: 50%;
    filter: blur(15px);
    position: absolute;
    top: 0;
    left: -15px;
    z-index: -1;
    scale: 0;
    transition: 0.3s;
}

nav ul li:hover::before {
    scale: 1;
}

nav ul li::after {
    content: url(../images/NritangiFlower1.png);
    display: inline-block;
    position: absolute;
    bottom: 6px;
    right: -18px;
    filter: drop-shadow(2px 4px 6px #d2462a7c);
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s;
}

nav ul li:hover::after {
    filter: drop-shadow(2px 4px 6px #d2462a7c);
    transform: translateY(0) rotate(45deg);
    opacity: 1;
}

nav ul li a:hover {
    color: var(--secondary);
    font-size: 18px;
    font-weight: 500;
}

nav ul li.active a {
    color: var(--secondary);
    font-size: 18px;
    font-weight: 500;
}

nav ul li.active::before {
    scale: 1;
}

nav ul li.active::after {
    filter: drop-shadow(2px 4px 6px #d2462a7c);
    transform: translateY(0) rotate(45deg);
    opacity: 1;
}

.btn-menu {
    background: #4B0608;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    display: none;
}

.btn-menu i{
    color: var(--secondary);
}

.btn-close {
    background: var(--secondary);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 500;
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid var(--secondary);
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

@media(max-width: 992px) {
    .btn-menu , .btn-close {
        display: block;
    }

    nav {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        background: #4B0608;
        clip-path: circle(0% at 100% 0%);
        transition: 2s;
        overflow: hidden;
    }

    nav ul {
        flex-direction: column;
        justify-content: top;
        align-items: center;
        margin-top: 100px;
        height: 100%;
    }

    nav ul li a{
        color: #fff;
    }
    
    
}









